In [7]:
# 1.Ans.

import pandas as pd
series = pd.Series([4, 8, 15, 16, 23, 42])
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
# 2.Ans.

import pandas as pd
list_x = [1,2,3,4,5,6,7,8,9,10]
series = pd.Series(list_x)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [8]:
# 3.Ans.

import pandas as pd
data = {'Name': ['Alice','Bob','Claire'],
        'Age' : [25,30,27],
        'Gender' : ['Female','Male','Female']}
df  = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [9]:
# 4.Ans.

"""
A DataFrame is a two-dimensional labeled data structure in pandas that can contain columns
of different data types. It is similar to a spreadsheet or SQL table, where each column can be
thought of as a Series. 

The main difference between a DataFrame and a Series is that a
Series represents a single column of data, while a DataFrame can represent 
multiple columns of data, as well as row indices.
"""

import pandas as pd

series = pd.Series([4, 8, 15, 16, 23, 42])

df  = pd.DataFrame({'Name': ['Alice','Bob','Claire'],
        'Age' : [25,30,27],
        'Gender' : ['Female','Male','Female']})
print(series)
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [14]:
# 5.Ans.
"""
Pandas provides a wide range of functions for manipulating data in a DataFrame. Some common functions include:

head() and tail(): These functions allow you to view the first or last n rows of a DataFrame,
respectively. For example, you might use df.head() to view the first 5 rows of a DataFrame df.

describe(): This function provides summary statistics for each numeric column in a DataFrame, 
such as the mean, standard deviation, and quartiles. For example, you might use df.describe() 
to get an overview of the central tendencies and spread of your data.

info(): This function displays information about a DataFrame, including the data types of each
column and the number of non-null values. For example, you might use df.info() to check the 
completeness and quality of your data.

sort_values(): This function allows you to sort a DataFrame by one or more columns. 
For example, you might use df.sort_values('column_name') to sort a DataFrame by a single column,
or df.sort_values(['column_1', 'column_2']) to sort by multiple columns.

groupby(): This function allows you to group a DataFrame by one or more columns and perform
calculations on each group. For example, you might use df.groupby('column_name').mean() to
calculate the mean value of each group.
"""

# Example:

import pandas as pd
data = {'Name': ['Alice','Bob','Claire'],
        'Age' : [25,30,27],
        'Gender' : ['Female','Male','Female']}
df  = pd.DataFrame(data)
print(df)

df.head(1)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

    Name  Age  Gender
0  Alice   25  Female

In [ ]:
# 6.Ans.

Both Series and DataFrame are mutable in nature in pandas, 
while Panel is considered deprecated and its use is not recommended.

In [19]:
# 7.Ans.

"""
In this example, we first create three Series - names, ages, and
genders - to represent the data for each column of the DataFrame. 
We then combine these Series into a DataFrame using the pd.DataFrame()
The pd.DataFrame() constructor takes a dictionary as its argument, where the keys
represent the column names and the values represent the Series that contain the data 
for each column. In our example, we pass a dictionary with keys 'Name', 'Age', and 'Gender',
and values names, ages, and genders, respectively.

Finally, we print the resulting DataFrame using the print() function. 
The resulting DataFrame has the columns 'Name', 'Age', and 'Gender', and 
the rows correspond to the data in the Series.

"""

import pandas as pd

names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27  Female